pipeline/FLX_XSD_VALIDATE.json
{
	"name": "FLX_XSD_VALIDATE",
	"properties": {
		"activities": [
			{
				"name": "Find Input Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FLX_XML_IN",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Azure Function2",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "hello",
					"method": "POST",
					"body": {
						"value": "@activity('Find Input Files').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "WindyTest",
					"type": "LinkedServiceReference",
					"parameters": {
						"name": "TestName"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Find Input Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "list_of_files",
					"value": [
						""
					]
				}
			}
		],
		"variables": {
			"list_of_files": {
				"type": "Array"
			},
			"Files": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}